
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/APP/css/Static/main.css">
    <title>PACKAGING</title>
</head>

<body>
    ehehe
</body>

<body>

    <form>
        <input list="Holiday">
        <datalist id="Holiday">
          <option value="Abroad">
          <option value="Not Abroad">
          <option value="Other">
        </datalist>
    </form>

    <form>
        <input list="Location">
        <datalist id="Location">
          <option value="By writing location name">
          <option value="By giving it out from a map">
        </datalist>
    </form>
</body>
</html>
